In [142]:
import numpy as np 
import pandas as pd 
import tensorflow as tf 
import joblib

In [143]:
df=pd.read_csv(r"D:\SUSTAIN_AI_THON\loan\revised_train_loan.csv")

In [144]:
df=df.dropna()

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              480 non-null    int64
 1   Age                     480 non-null    float64
 2   Region                  480 non-null    object
 3   Years of Experience     480 non-null    float64
 4   Daily Customers         480 non-null    float64
 5   Previous Loan History   480 non-null    object
 6   Loan Repayment History  480 non-null    object
 7   Gender                  480 non-null    object
 8   Married                 480 non-null    object
 9   Dependents              480 non-null    object
 10  Education               480 non-null    object
 11  Self_Employed           480 non-null    object
 12  ApplicantIncome         480 non-null    float64
 13  CoapplicantIncome       480 non-null    float64
 14  LoanAmount              480 non-null    float64
 15  Loan_Status             480 non-null    object
dtypes: float64(6), int64(1), object(9)
memory usage: 60.1+ KB

In [146]:
df.head()

,Unnamed: 0,Age,Region,Years of Experience,Daily Customers,Previous Loan History,Loan Repayment History,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Status
0,0,35.0,Suburban,14.0,71.0,Yes,Moderate,Male,Yes,1,Graduate,No,4583.0,1508.0,128.0,N
1,1,47.0,Suburban,11.0,148.0,No,Poor,Male,Yes,1,Graduate,No,4583.0,1508.0,128.0,N
2,2,33.0,Urban,12.0,41.0,No,Moderate,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,Y
3,3,44.0,Suburban,2.0,195.0,No,Moderate,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,Y
4,4,26.0,Rural,9.0,144.0,Yes,Moderate,Male,No,0,Graduate,No,6000.0,0.0,141.0,Y

In [147]:
from sklearn.preprocessing import OrdinalEncoder
import json
encoder=OrdinalEncoder()
cat_col=df.select_dtypes('object').columns
cat_col=cat_col[1:]
cat_col
df[cat_col]=encoder.fit_transform(df[cat_col])
df[cat_col]
category_mappings = {cat_col[i]: dict(zip(encoder.categories_[i], range(len(encoder.categories_[i])))) 
                    for i in range(len(encoder.categories_))}

with open('ordinal_mappings.json', 'w') as json_file:
    json.dump(category_mappings, json_file, indent=4)

In [148]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
x.shape,y.shape

((480, 15), (480,))

In [149]:
df.columns

Index(['Unnamed: 0', 'Age', 'Region', 'Years of Experience', 'Daily Customers',
       'Previous Loan History', 'Loan Repayment History', 'Gender', 'Married',
       'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Loan_Status'],
      dtype='object')

In [150]:
df

,Unnamed: 0,Age,Region,Years of Experience,Daily Customers,Previous Loan History,Loan Repayment History,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Status
0,0,35.0,Suburban,14.0,71.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,4583.0,1508.0,128.0,0.0
1,1,47.0,Suburban,11.0,148.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,4583.0,1508.0,128.0,0.0
2,2,33.0,Urban,12.0,41.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,3000.0,0.0,66.0,1.0
3,3,44.0,Suburban,2.0,195.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2583.0,2358.0,120.0,1.0
4,4,26.0,Rural,9.0,144.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,6000.0,0.0,141.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,475,41.0,Rural,8.0,61.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,16525.0,1014.0,150.0,1.0
476,476,40.0,Urban,3.0,45.0,0.0,1.0,1.0,1.0,2.0,0.0,0.0,6700.0,1750.0,230.0,1.0
477,477,52.0,Urban,19.0,167.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,16667.0,2250.0,86.0,1.0
478,478,22.0,Rural,18.0,108.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,16667.0,2250.0,86.0,1.0
479,479,38.0,Urban,8.0,103.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,4350.0,0.0,154.0,1.0

In [151]:
df=df.drop(columns=['Region','Unnamed: 0'])

In [152]:
df

,Age,Years of Experience,Daily Customers,Previous Loan History,Loan Repayment History,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Status
0,35.0,14.0,71.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,4583.0,1508.0,128.0,0.0
1,47.0,11.0,148.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,4583.0,1508.0,128.0,0.0
2,33.0,12.0,41.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,3000.0,0.0,66.0,1.0
3,44.0,2.0,195.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2583.0,2358.0,120.0,1.0
4,26.0,9.0,144.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,6000.0,0.0,141.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,41.0,8.0,61.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,16525.0,1014.0,150.0,1.0
476,40.0,3.0,45.0,0.0,1.0,1.0,1.0,2.0,0.0,0.0,6700.0,1750.0,230.0,1.0
477,52.0,19.0,167.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,16667.0,2250.0,86.0,1.0
478,22.0,18.0,108.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,16667.0,2250.0,86.0,1.0
479,38.0,8.0,103.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,4350.0,0.0,154.0,1.0

In [153]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [154]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
joblib.dump(sc,"scaler_tf.pkl")

['scaler_tf.pkl']

In [155]:
model=tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units=11 ,activation='relu'))
model.add(tf.keras.layers.Dense(units=128,activation='relu'))
model.add(tf.keras.layers.Dense(units=64,activation='relu'))
model.add(tf.keras.layers.Dense(units=32,activation='relu'))
model.add(tf.keras.layers.Dense(units=16,activation='relu'))
model.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [156]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['Accuracy'])
model.fit(x,y,epochs=50,batch_size=32)

Epoch 1/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - Accuracy: 0.4132 - loss: 0.7010
Epoch 2/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.6708 - loss: 0.6667
Epoch 3/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Accuracy: 0.7177 - loss: 0.6169
Epoch 4/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.7100 - loss: 0.5997
Epoch 5/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.6722 - loss: 0.6247
Epoch 6/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.6857 - loss: 0.5998
Epoch 7/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.7150 - loss: 0.5808
Epoch 8/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.7125 - loss: 0.5668
Epoch 9/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.7300 - loss: 0.5661
Epoch 10/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.7154 - loss: 0.5690
Epoch 11/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Accuracy: 0.7191 - loss: 0.5606
Epoch 12/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.7135 - loss: 0.5518
Epoch 13/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.7307 - loss: 0.5266
Epoch 14/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.7468 - loss: 0.5095
Epoch 15/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.7501 - loss: 0.5254
Epoch 16/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.7644 - loss: 0.4907
Epoch 17/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.7794 - loss: 0.4757
Epoch 18/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8061 - loss: 0.4631
Epoch 19/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8013 - loss: 0.4360
Epoch 20/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 965us/step - Accuracy: 0.8072 - loss: 0.4295
Epoch 21/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8043 - loss: 0.4402
Epoch 22/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8438 - loss: 0.3959
Epoch 23/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.7861 - loss: 0.4257
Epoch 24/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8211 - loss: 0.4074
Epoch 25/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8196 - loss: 0.4001
Epoch 26/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8666 - loss: 0.3468
Epoch 27/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8483 - loss: 0.3668
Epoch 28/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8518 - loss: 0.3284
Epoch 29/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8836 - loss: 0.3210
Epoch 30/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8801 - loss: 0.3122
Epoch 31/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.8789 - loss: 0.3002
Epoch 32/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.8981 - loss: 0.2699
Epoch 33/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9095 - loss: 0.2578
Epoch 34/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9254 - loss: 0.2401
Epoch 35/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.9077 - loss: 0.2672
Epoch 36/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9096 - loss: 0.2458
Epoch 37/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9466 - loss: 0.2142
Epoch 38/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9262 - loss: 0.2279
Epoch 39/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9224 - loss: 0.2114
Epoch 40/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9599 - loss: 0.1804
Epoch 41/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9550 - loss: 0.1706
Epoch 42/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.9472 - loss: 0.1648
Epoch 43/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - Accuracy: 0.9391 - loss: 0.1724
Epoch 44/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - Accuracy: 0.9410 - loss: 0.1667
Epoch 45/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9675 - loss: 0.1309
Epoch 46/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9629 - loss: 0.1527
Epoch 47/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9682 - loss: 0.1103
Epoch 48/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9677 - loss: 0.1174
Epoch 49/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9655 - loss: 0.1214
Epoch 50/50
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - Accuracy: 0.9554 - loss: 0.1256

In [157]:
model.save('loan_tensorflow.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.